@using Coverity.Security;

@{
    ViewBag.Title = "Index";
}


<div data="@ViewBag.Attribute">
    Hello @Cov.HtmlText(ViewBag.Name). 
</div>

<a href="@Cov.AsURL(ViewBag.Url)">
  Click me
</a>

<a style="font-family:'@Cov.CssString(ViewBag.Font)'">
  Click me
</a>

<script type="text/javascript">
  var str = '@Cov.JsString(ViewBag.JsString)';
  // Do something with the string `str`
</script>

<div id="forMyContent"></div>
<script>
    var foo = "<h1>@Cov.JsString(Cov.Html(ViewBag.JsString))</h1>";
    $("#forMyContent").html(foo);
</script>

<script type="text/javascript">
    var num = @Cov.AsNumber(ViewBag.Number);
    // Do something with the number `num`
</script>

<style>
  #foo[id ~= '@Cov.CssString(ViewBag.CssID)'] {
    background-color: pink !important;
  }
</style>

<style>
  #foo {
    background: url('@Cov.CssString(ViewBag.BackgroundUrl)');
  }
</style>

<style>
  #foo {
    background-color: @Cov.AsCssColor(ViewBag.BackgroundColour);
  }
</style>

<a href="/path/page?elmt=1#@ViewBag.LinkFragment">
  Link name
</a>

<a href="http://example.com/path/?@Cov.Uri(ViewBag.Name)=@Cov.Uri(ViewBag.Number)">
  Click me
</a>